.App {
  text-align: center;
}

body {
  font-family: 'Sanchez', serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header,.HalfPage,.HalfPageTranslate {
  background-color: #FFC75F;
}

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1em;
  color: #fff;
  box-shadow: 2px 2px 2px 1px #E7B355;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-bottom: 2px;
}

.Title {
  text-align: left;
  margin-left: 100px;
}

.TranslateBox, .InputBox{
  margin: auto;
  width: 60%;
  border-radius: 15px;
  border: 0.2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  line-height: 150px;
  background-color: white;
}

.TranslateBox {
  height: 300px;
  overflow: auto;
  margin-top: 50px;
  border-bottom: 40px solid #845EC2;
  margin-bottom: 40px;
  line-height: 40px;
  flex-wrap: wrap;
}

.InputBox {
  height: 150px;
  margin-top: 180px;
  border-bottom: 20px solid #845EC2;
}

.InputField, .TranslateField {
  font-family: inherit;
  border-radius: 15px;
  padding-left:30px;
  background-color: #f0eeee;
}

.TranslateField {
  margin-top: 3%;
  width: 50%;
  height: 55px;
  border: 2px solid #ffffff;
  font-size: 30px;
  
}

#translateButton {
  height: 35px;
  width: 35px;
}

.InputField {
  margin: auto;
  width: 70%;
  height: 30%;
  border: 2px solid #a0a0a0;
  font-size: 20px;
}
  
.SubmitButton {
  margin-left: -50px;
  height: 25%;
  width: 40px;
  border-radius: 50%;
  background-color: #845EC2;
  border: 0px;
  color: white;
}

.HalfPage, .HalfPageTranslate {
  display: flex;
  gap: 100px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.HalfPageTranslate {
  height: 130px;
}

.HalfPage {
  height: 260px;
}

.WhitePage {
  position: absolute;
  z-index: -1;
}

.halfpageText {
  text-align: left;
  color: white;
}

.AppLogo {
  height: 50%;
  margin-top: 30px;
  margin-left: 20%;
  background-image: url("/splash.svg");
  background-size: 130px;
  background-repeat: no-repeat;
}

.ListSigns {
  height: 225px;
}

.HelloLogo {
  height: 70px;
}

.BackButton, .LogOutButton, .ProfileButton {
  position: absolute;
  top: 0;
  right:0;
  margin-top: 35px;
}

.LogOutButton, .ProfileButton{
  margin-right: 45px;
}
.BackButton{
  margin-right: 170px;
}
ul, #translateTitle{
  text-align: left;
}
#translateTitle{
  margin-left: 40px;
}

li {
  list-style-type: none;
}

#clearButton {
  border: none;
  background-color: #845EC2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 100px;
  color: white;
  transition-duration: 0.4s;
}

#clearButton:hover {
  background-color: white; 
  color: black;
  border: solid 1px;
}

a{
  font-size: 24px;
  color: white;
  text-decoration: none;
}
a:hover{
  transition: all 0.5s ease-in-out;
  color: #919191;
}
